@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: smooth;
}

* {
  font-family: 'Inter', sans-serif;
}

.margininlineauto {
  margin-inline: auto;
}

.gradient {
  background: linear-gradient(
    to right,
    #f0e10e,
    #f82a68,
    #ab4ffc,
    #579df8,
    #d61803
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 12s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradientbg {
  background-image: linear-gradient(to right, #3f5bb5, #7a3ac4, #df3b71);
}

.avatargradientbg {
  background-image: linear-gradient(to right, #4888bd, #2f72be, #2c58d1);
}

.interestedtext {
  background: linear-gradient(to right, #4888bd, #2f72be, #2c58d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
}
